// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 420px) {
   .body-main {
      float:left;
      margin:0;
      padding:0;
      height:100%;
      width:100%;
      position:relative;
      /*background-color: yellow;*/
      .main{
         /*background-color: goldenrod;*/
          margin: 0px;
          padding: 0px;
          width:100%;
          height:inherit;
          float: left;
          h1{
              
              background: -webkit-linear-gradient(0.0deg,#1A294F 50%, rgba(26,41,79,0.49) 69%, rgba(26,41,79,0.49019607843137253) 68%, #1A294F 87%);
              background: -moz-linear-gradient(0.0deg,#1A294F 50%, rgba(26,41,79,0.49) 69%, rgba(26,41,79,0.49019607843137253) 68%, #1A294F 87%);
              background: linear-gradient(0.0deg,#1A294F 50%, rgba(26,41,79,0.49) 69%, rgba(26,41,79,0.49019607843137253) 68%, #1A294F 87%);
              -webkit-background-clip: text;//テキストでくり抜く
              -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
             /*background-color: gray;*/
              height:30%;
              width:100%;
              text-align: center;
              font-family: 'Abril Fatface';//,'Arial Black','DIN Condensed',  sans-serif;
              font-size:330%;
              letter-spacing : -0.05em;
              color:rgb(54, 54, 54);
              margin: auto;
              padding:auto;
              position:absolute;
              top: 35%;
              left: 50%;
              -ms-transform: translate(-50%,-25%);
              -webkit-transform : translate(-50%,-25%);
              transform : translate(-50%,-25%);
          }
          h3 {
             /*background-color: hotpink;*/
              height:auto;
              width:100%;
              text-align: center;
              font-family: 'Snell Roundhand','Segoe Script',  sans-serif;
              font-size:110%;
              color:rgb(90, 90, 90);
              
              margin: 10px auto auto auto;
              padding:auto;
              position:absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%,-50%);
              -webkit-transform : translate(-50%,-50%);
              transform : translate(-50%,-50%);
  
          }
          p {
              height:auto;
              width:100%;
              text-align: center;
              font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
              font-size:100%;
              color:rgb(90, 90, 90);
              letter-spacing : 0.2em;
              margin: 10px auto auto auto;
              padding:auto;
              position:absolute;
              top: 60%;
              left: 50%;
              -ms-transform: translate(-50%,-60%);
              -webkit-transform : translate(-50%,-60%);
              transform : translate(-50%,-60%);
          }
      }
  }

.Title{

   width: 100%;
   height: 15%;
   float: left;
   position:relative;
   background-color:rgba(211, 211, 211, 0.137);
   h1{
      height:auto;
      width:100%;
      text-align: center;
      font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
      font-size:250%;
      color:rgb(34, 35, 105);
      font-weight: bolder;
      margin: 10px auto auto auto;
      padding:auto;
      font-weight:bold;
      position:absolute;
      top: 20%;
      left: 50%;
      -ms-transform: translate(-50%,-20%);
      -webkit-transform : translate(-50%,-20%);
      transform : translate(-50%,-20%);
   }
   p{
      height:auto;
      width:100%;
      text-align: center;
      font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
      color:rgb(90, 90, 90);
      margin: 10px auto auto auto;
      padding:auto;
      font-weight:bold;

   }
   #p1{
      /*
      font-size:120%;
      color:rgb(90, 90, 90);
      letter-spacing : 0.3em;
      position:absolute;
      top: 40%;
      left: 50%;
      -ms-transform: translate(-50%,-40%);
      -webkit-transform : translate(-50%,-40%);
      transform : translate(-50%,-40%);
      */
   }
   #p2{
      font-size:160%;
      color:rgb(90, 90, 90);
      letter-spacing : 0.3em;
      position:absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%,-70%);
      -webkit-transform : translate(-50%,-70%);
      transform : translate(-50%,-70%);

   }
}
.output-main{
   float: left;
   width: 100%;
   height: 1000px;
   background-color: white;
   margin: 0;
   padding: 0;
   .list{
      float: left;
      width: 100%;
      height:inherit;
      margin: 0;
      padding: 0;
      ul{
         float: left;
         width: 100%;
         padding: 0;
         margin: 0;
         height:inherit;
         margin-top: 2%;
         
         li{
            //background: white;
            width: 90%;
            height:15%;
            float: left;
            list-style: none;
            //border-bottom: thin solid #0a07b4;
            padding-bottom: 2%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top:2%;

            
            &:hover{
               background-color: rgba(255, 255, 255, 0.219);
            }
            .contents{
               width: 100%;
               height:98%;
               margin: 0;
               padding: 0;
               border-radius: 10px;
               box-shadow: 0px 2px 10px -5px rgba(88, 88, 88, 0.432);
               //background:linear-gradient(0.0deg,rgba(34, 109, 221, 0.37) 1%, rgba(253, 251, 251, 0.616) 10%);
               //border:0.5px solid rgb(243, 241, 241);
               
               &:hover{
                  background:linear-gradient(320.0deg,rgba(1, 8, 102, 0.096) 10%,rgba(7, 0, 71, 0.00) 70%);
                  box-shadow: 0px 0px 15px -5px rgb(7, 7, 7);
              }
               .img{
                  float: left;
                  width:30%;
                  height:100%;
                  .i{
                     background-color: rgba(146, 144, 144, 0.055);
                     width:80%;
                     height:80%;
                     margin: 10%;
                     border-radius: 5%;
                     img{
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 5%;
                     }
                  }
               }
               .title{
                  float: left;
                  width:68%;
                  padding-right: 2%;
                  height: 80%;
                  h2{
                     width: 100%;
                     margin: 0;
                     height: 90%;
                     padding: 0;
                     font-size: 180%;
                     font-weight: bold;
                     color: rgb(47, 0, 156);
                     border-bottom: 1px solid rgb(209, 208, 208);
                  }
                  h6{
                     height: 10%;
                     margin: 0;
                     padding: 0;
                     width:50%;
                     font-size: 100%;
                     color: gray;
                     float: left;
                     text-align: left;
                     vertical-align: middle;
                  }
                  p{
                     height: 10%;
                     margin: 0;
                     padding: 0;
                     width:50%;
                     font-size: 120%;
                     float: left;
                     text-align: right;
                     vertical-align: middle;
                  }
               }
               /*.likes{
                  float: left;
                  width:80%;
                  height: 20%;
                  p{
                     margin: 0;
                     padding: 0;
                  }
               }*/
            }
         }
      }
   }
   .category{
      float: left;
      width: 40%;
      height:20%;
      margin: 0;
      padding: 0 5%;
      
      ul li{
         
         list-style: none;
         h4{
            text-align: left;
            font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
            font-size: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            color:rgb(126, 124, 124);
            a{
               text-decoration: none;
            }
         }
      }
      h2{

         text-align: center;
         //font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
         font-size: 120%;
         width: 100%;
         margin: 0;
         padding: 0;
         color:rgb(34, 35, 105);
         border-bottom: thin solid #0c00b4;

      }
   }
   .newest{
      float: left;
      width: 40%;
      height:50%;
      margin: 0;
      padding: 0 5%;
      h2{
         text-align: center;
         //font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
         font-size: 120%;
         width: 100%;
         margin: 0;
         padding: 0;
         border-bottom: thin solid #0c00b4;
         color:rgb(34, 35, 105);
      }
      ul {
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         float: left;
         li{
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height:10%;
            background-color: rgb(236, 235, 235);
            border-radius: 5px;
            &:hover{
               background-color: rgba(208, 208, 209, 0.767);
            }
            .newest-title{
               margin: 3% 10%;
               padding: 0;
               width:80%;
               height: 100%;
               h3{
                  padding: 0;
                  margin: 0;
                  a{
                     text-decoration: none;
                     font-size: 75%;
                  }
                  &:hover{
                     color: rgb(59, 5, 184);
                     list-style: none;
                  }
               }
               p{
                  font-size: 75%;
                  margin: 0;
               }
            }
         }
      }
   }

}
  

}
@media (min-width: 421px) and (max-width: 767px) {
   .body-main {
      float:left;
      margin:0;
      padding:0;
      height:720px;
      width:100%;
      position:relative;
      /*background-color: yellow;*/
      .main{
         /*background-color: goldenrod;*/
          margin: 0px;
          padding: 0px;
          width:100%;
          height:inherit;
          float: left;
          h1{
              
              background: -webkit-linear-gradient(0.0deg,#1A294F 50%, rgba(26,41,79,0.49) 69%, rgba(26,41,79,0.49019607843137253) 68%, #1A294F 87%);
              background: -moz-linear-gradient(0.0deg,#1A294F 50%, rgba(26,41,79,0.49) 69%, rgba(26,41,79,0.49019607843137253) 68%, #1A294F 87%);
              background: linear-gradient(0.0deg,#1A294F 50%, rgba(26,41,79,0.49) 69%, rgba(26,41,79,0.49019607843137253) 68%, #1A294F 87%);
              -webkit-background-clip: text;//テキストでくり抜く
              -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
             /*background-color: gray;*/
              height:30%;
              width:100%;
              text-align: center;
              font-family: 'Abril Fatface';//,'Arial Black','DIN Condensed',  sans-serif;
              font-size:430%;
              letter-spacing : -0.05em;
              color:rgb(54, 54, 54);
              margin: auto;
              padding:auto;
              position:absolute;
              top: 35%;
              left: 50%;
              -ms-transform: translate(-50%,-25%);
              -webkit-transform : translate(-50%,-25%);
              transform : translate(-50%,-25%);
          }
          h3 {
             /*background-color: hotpink;*/
              height:auto;
              width:100%;
              text-align: center;
              font-family: 'Snell Roundhand','Segoe Script',  sans-serif;
              font-size:110%;
              color:rgb(90, 90, 90);
              
              margin: 10px auto auto auto;
              padding:auto;
              position:absolute;
              top: 65%;
              left: 50%;
              -ms-transform: translate(-50%,-65%);
              -webkit-transform : translate(-50%,-65%);
              transform : translate(-50%,-65%);
  
          }
          p {
              height:auto;
              width:100%;
              text-align: center;
              font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
              font-size:100%;
              color:rgb(90, 90, 90);
              letter-spacing : 0.3em;
              margin: 10px auto auto auto;
              padding:auto;
              position:absolute;
              top: 72%;
              left: 50%;
              -ms-transform: translate(-50%,-72%);
              -webkit-transform : translate(-50%,-72%);
              transform : translate(-50%,-72%);
          }
      }
  }

.Title{

   width: 100%;
   height: 15%;
   float: left;
   position:relative;
   background-color:rgba(211, 211, 211, 0.137);
   h1{
      height:auto;
      width:100%;
      text-align: center;
      font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
      font-size:250%;
      color:rgb(34, 35, 105);
      font-weight: bolder;
      margin: 10px auto auto auto;
      padding:auto;
      font-weight:bold;
      position:absolute;
      top: 20%;
      left: 50%;
      -ms-transform: translate(-50%,-20%);
      -webkit-transform : translate(-50%,-20%);
      transform : translate(-50%,-20%);
   }
   p{
      height:auto;
      width:100%;
      text-align: center;
      font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
      color:rgb(90, 90, 90);
      margin: 10px auto auto auto;
      padding:auto;
      font-weight:bold;

   }
   #p1{
      /*
      font-size:120%;
      color:rgb(90, 90, 90);
      letter-spacing : 0.3em;
      position:absolute;
      top: 40%;
      left: 50%;
      -ms-transform: translate(-50%,-40%);
      -webkit-transform : translate(-50%,-40%);
      transform : translate(-50%,-40%);
      */
   }
   #p2{
      font-size:160%;
      color:rgb(90, 90, 90);
      letter-spacing : 0.3em;
      position:absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%,-70%);
      -webkit-transform : translate(-50%,-70%);
      transform : translate(-50%,-70%);

   }
}
.output-main{
   float: left;
   width: 100%;
   height: 1000px;
   background-color: white;
   margin: 0;
   padding: 0;
   .list{
      float: left;
      width: 100%;
      height:inherit;
      margin: 0;
      padding: 0;
      ul{
         float: left;
         width: 100%;
         padding: 0;
         margin: 0;
         height:inherit;
         margin-top: 2%;
         
         li{
            //background: white;
            width: 90%;
            height:15%;
            float: left;
            list-style: none;
            //border-bottom: thin solid #0a07b4;
            padding-bottom: 2%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top:2%;

            
            &:hover{
               background-color: rgba(255, 255, 255, 0.219);
            }
            .contents{
               width: 100%;
               height:98%;
               margin: 0;
               padding: 0;
               border-radius: 10px;
               box-shadow: 0px 2px 10px -5px rgba(88, 88, 88, 0.432);
               //background:linear-gradient(0.0deg,rgba(34, 109, 221, 0.37) 1%, rgba(253, 251, 251, 0.616) 10%);
               //border:0.5px solid rgb(243, 241, 241);
               
               &:hover{
                  background:linear-gradient(320.0deg,rgba(1, 8, 102, 0.096) 10%,rgba(7, 0, 71, 0.00) 70%);
                  box-shadow: 0px 0px 15px -5px rgb(7, 7, 7);
              }
               .img{
                  float: left;
                  width:30%;
                  height:100%;
                  .i{
                     background-color: rgba(146, 144, 144, 0.055);
                     width:80%;
                     height:80%;
                     margin: 10%;
                     border-radius: 5%;
                     img{
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 5%;
                     }
                  }
               }
               .title{
                  float: left;
                  width:68%;
                  padding-right: 2%;
                  height: 80%;
                  h2{
                     width: 100%;
                     margin: 0;
                     height: 90%;
                     padding: 0;
                     font-size: 180%;
                     font-weight: bold;
                     color: rgb(47, 0, 156);
                     border-bottom: 1px solid rgb(209, 208, 208);
                  }
                  h6{
                     height: 10%;
                     margin: 0;
                     padding: 0;
                     width:50%;
                     font-size: 100%;
                     color: gray;
                     float: left;
                     text-align: left;
                     vertical-align: middle;
                  }
                  p{
                     height: 10%;
                     margin: 0;
                     padding: 0;
                     width:50%;
                     font-size: 120%;
                     float: left;
                     text-align: right;
                     vertical-align: middle;
                  }
               }
               /*.likes{
                  float: left;
                  width:80%;
                  height: 20%;
                  p{
                     margin: 0;
                     padding: 0;
                  }
               }*/
            }
         }
      }
   }
   .category{
      float: left;
      width: 40%;
      height:20%;
      margin: 0;
      padding: 0 5%;
      
      ul li{
         
         list-style: none;
         h4{
            text-align: left;
            font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
            font-size: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            color:rgb(126, 124, 124);
            a{
               text-decoration: none;
            }
         }
      }
      h2{

         text-align: center;
         //font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
         font-size: 120%;
         width: 100%;
         margin: 0;
         padding: 0;
         color:rgb(34, 35, 105);
         border-bottom: thin solid #0c00b4;

      }
   }
   .newest{
      float: left;
      width: 40%;
      height:50%;
      margin: 0;
      padding: 0 5%;
      h2{
         text-align: center;
         //font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
         font-size: 120%;
         width: 100%;
         margin: 0;
         padding: 0;
         border-bottom: thin solid #0c00b4;
         color:rgb(34, 35, 105);
      }
      ul {
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         float: left;
         li{
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height:10%;
            background-color: rgb(236, 235, 235);
            border-radius: 5px;
            &:hover{
               background-color: rgba(208, 208, 209, 0.767);
            }
            .newest-title{
               margin: 3% 10%;
               padding: 0;
               width:80%;
               height: 100%;
               h3{
                  padding: 0;
                  margin: 0;
                  a{
                     text-decoration: none;
                     font-size: 75%;
                  }
                  &:hover{
                     color: rgb(59, 5, 184);
                     list-style: none;
                  }
               }
               p{
                  font-size: 75%;
                  margin: 0;
               }
            }
         }
      }
   }

}
  

}
@media (min-width: 768px) and (max-width: 1029px) {
   .body-main {
      float:left;
      margin:0;
      padding:0;
      height:720px;
      width:100%;
      position:relative;
      /*background-color: yellow;*/
      .main{
         /*background-color: goldenrod;*/
          margin: 0px;
          padding: 0px;
          width:100%;
          height:inherit;
          float: left;
          h1{
              
              background: -webkit-linear-gradient(0.0deg,#1A294F 40%, rgba(26,41,79,0.49) 59%, rgba(26,41,79,0.49019607843137253) 58%, #1A294F 77%);
              background: -moz-linear-gradient(0.0deg,#1A294F 40%, rgba(26,41,79,0.49) 59%, rgba(26,41,79,0.49019607843137253) 58%, #1A294F 77%);
              background: linear-gradient(0.0deg,#1A294F 40%, rgba(26,41,79,0.49) 59%, rgba(26,41,79,0.49019607843137253) 58%, #1A294F 77%);
              -webkit-background-clip: text;//テキストでくり抜く
              -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
             /*background-color: gray;*/
              height:30%;
              width:100%;
              text-align: center;
              font-family: 'Abril Fatface';//,'Arial Black','DIN Condensed',  sans-serif;
              font-size:600%;
              letter-spacing : -0.05em;
              color:rgb(54, 54, 54);
              margin: auto;
              padding:auto;
              position:absolute;
              top: 35%;
              left: 50%;
              -ms-transform: translate(-50%,-25%);
              -webkit-transform : translate(-50%,-25%);
              transform : translate(-50%,-25%);
          }
          h3 {
             /*background-color: hotpink;*/
              height:auto;
              width:100%;
              text-align: center;
              font-family: 'Snell Roundhand','Segoe Script',  sans-serif;
              font-size:150%;
              color:rgb(90, 90, 90);
              
              margin: 10px auto auto auto;
              padding:auto;
              position:absolute;
              top: 65%;
              left: 50%;
              -ms-transform: translate(-50%,-65%);
              -webkit-transform : translate(-50%,-65%);
              transform : translate(-50%,-65%);
  
          }
          p {
              height:auto;
              width:100%;
              text-align: center;
              font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
              font-size:130%;
              color:rgb(90, 90, 90);
              letter-spacing : 0.3em;
              margin: 10px auto auto auto;
              padding:auto;
              position:absolute;
              top: 72%;
              left: 50%;
              -ms-transform: translate(-50%,-72%);
              -webkit-transform : translate(-50%,-72%);
              transform : translate(-50%,-72%);
          }
      }
  }

.Title{

   width: 100%;
   height: 18%;
   float: left;
   position:relative;
   background-color:rgba(211, 211, 211, 0.137);
   h1{
      height:auto;
      width:100%;
      text-align: center;
      font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
      font-size:250%;
      color:rgb(34, 35, 105);
      font-weight: bolder;
      margin: 10px auto auto auto;
      padding:auto;
      font-weight:bold;
      position:absolute;
      top: 20%;
      left: 50%;
      -ms-transform: translate(-50%,-20%);
      -webkit-transform : translate(-50%,-20%);
      transform : translate(-50%,-20%);
   }
   p{
      height:auto;
      width:100%;
      text-align: center;
      font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
      color:rgb(90, 90, 90);
      margin: 10px auto auto auto;
      padding:auto;
      font-weight:bold;

   }
   #p1{
      /*
      font-size:120%;
      color:rgb(90, 90, 90);
      letter-spacing : 0.3em;
      position:absolute;
      top: 40%;
      left: 50%;
      -ms-transform: translate(-50%,-40%);
      -webkit-transform : translate(-50%,-40%);
      transform : translate(-50%,-40%);
      */
   }
   #p2{
      font-size:160%;
      color:rgb(90, 90, 90);
      letter-spacing : 0.3em;
      position:absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%,-70%);
      -webkit-transform : translate(-50%,-70%);
      transform : translate(-50%,-70%);

   }
}
.output-main{
   float: left;
   width: 100%;
   height: 1000px;
   background-color: white;
   margin: 0;
   padding: 0;
   .list{
      float: left;
      width: 70%;
      height:inherit;
      
      ul{
         float: left;
         width: 100%;
         padding: 0;
         margin: 0;
         height:inherit;
         margin-top: 2%;
         
         li{
            //background: white;
            width: 80%;
            margin-left: 20%;
            height:15%;
            float: left;
            list-style: none;
            //border-bottom: thin solid #0a07b4;
            padding-bottom: 2%;

            
            &:hover{
               background-color: rgba(255, 255, 255, 0.219);
            }
            .contents{
               width: 100%;
               height:98%;
               margin: 0;
               padding: 0;
               border-radius: 10px;
               box-shadow: 0px 2px 10px -5px rgba(88, 88, 88, 0.432);
               //background:linear-gradient(0.0deg,rgba(34, 109, 221, 0.37) 1%, rgba(253, 251, 251, 0.616) 10%);
               //border:0.5px solid rgb(243, 241, 241);
               
               &:hover{
                  background:linear-gradient(320.0deg,rgba(1, 8, 102, 0.096) 10%,rgba(7, 0, 71, 0.00) 70%);
                  box-shadow: 0px 0px 15px -5px rgb(7, 7, 7);
              }
               .img{
                  float: left;
                  width:30%;
                  height:100%;
                  .i{
                     background-color: rgba(146, 144, 144, 0.055);
                     width:80%;
                     height:80%;
                     margin: 10%;
                     border-radius: 5%;
                     img{
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 5%;
                     }
                  }
               }
               .title{
                  float: left;
                  width:68%;
                  padding-right: 2%;
                  height: 80%;
                  h2{
                     width: 100%;
                     margin: 0;
                     height: 90%;
                     padding: 0;
                     font-size: 180%;
                     font-weight: bold;
                     color: rgb(47, 0, 156);
                     border-bottom: 1px solid rgb(209, 208, 208);
                  }
                  h6{
                     height: 10%;
                     margin: 0;
                     padding: 0;
                     width:50%;
                     font-size: 100%;
                     color: gray;
                     float: left;
                     text-align: left;
                     vertical-align: middle;
                  }
                  p{
                     height: 10%;
                     margin: 0;
                     padding: 0;
                     width:50%;
                     font-size: 120%;
                     float: left;
                     text-align: right;
                     vertical-align: middle;
                  }
               }
               /*.likes{
                  float: left;
                  width:80%;
                  height: 20%;
                  p{
                     margin: 0;
                     padding: 0;
                  }
               }*/
            }
         }
      }
   }
   .category{
      float: left;
      width: 20%;
      height: auto !important;
      margin: 0;
      padding: 0 5%;
      
      ul li{
         
         list-style: none;
         h4{
            text-align: left;
            font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
            font-size: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            color:rgb(126, 124, 124);
            a{
               text-decoration: none;
            }
         }
      }
      h2{

         text-align: center;
         //font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
         font-size: 120%;
         width: 100%;
         margin: 0;
         padding: 0;
         color:rgb(34, 35, 105);
         border-bottom: thin solid #0c00b4;

      }
   }
   .newest{
      float: left;
      width: 20%;
      height: auto !important;
      margin: 0;
      padding: 0 5%;
      h2{
         text-align: center;
         //font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
         font-size: 120%;
         width: 100%;
         margin: 0;
         padding: 0;
         border-bottom: thin solid #0c00b4;
         color:rgb(34, 35, 105);
      }
      ul {
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         float: left;
         li{
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height:10%;
            background-color: rgb(236, 235, 235);
            border-radius: 5px;
            &:hover{
               background-color: rgba(208, 208, 209, 0.767);
            }
            .newest-title{
               margin: 0 10%;
               padding: 0;
               width:80%;
               height: 100%;
               h3{
                  padding: 0;
                  a{
                     text-decoration: none;
                     font-size: 75%;
                  }
                  &:hover{
                     color: rgb(59, 5, 184);
                     list-style: none;
                  }
               }
               p{
                  font-size: 75%;
                  margin: 0;
               }
            }
         }
      }
   }

}
  
  
}
@media (min-width: 1030px) {

.body-main {
    float:left;
    margin:0;
    padding:0;
    height:720px;
    width:100%;
    position:relative;
    /*background-color: yellow;*/
    .main{
       /*background-color: goldenrod;*/
        margin: 0px;
        padding: 0px;
        width:100%;
        height:inherit;
        float: left;
        h1{
            
            background: -webkit-linear-gradient(0.0deg,#1A294F 30%, rgba(26,41,79,0.49) 49%, rgba(26,41,79,0.49019607843137253) 48%, #1A294F 67%);
            background: -moz-linear-gradient(0.0deg,#1A294F 30%, rgba(26,41,79,0.49) 49%, rgba(26,41,79,0.49019607843137253) 48%, #1A294F 67%);
            background: linear-gradient(0.0deg,#1A294F 30%, rgba(26,41,79,0.49) 49%, rgba(26,41,79,0.49019607843137253) 48%, #1A294F 67%);
            -webkit-background-clip: text;//テキストでくり抜く
            -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
           /*background-color: gray;*/
            height:30%;
            width:100%;
            text-align: center;
            font-family: 'Abril Fatface';//,'Arial Black','DIN Condensed',  sans-serif;
            font-size:800%;
            letter-spacing : -0.05em;
            color:rgb(54, 54, 54);
            margin: auto;
            padding:auto;
            position:absolute;
            top: 35%;
            left: 50%;
            -ms-transform: translate(-50%,-25%);
            -webkit-transform : translate(-50%,-25%);
            transform : translate(-50%,-25%);
        }
        h3 {
           /*background-color: hotpink;*/
            height:auto;
            width:100%;
            text-align: center;
            font-family: 'Snell Roundhand','Segoe Script',  sans-serif;
            font-size:180%;
            color:rgb(90, 90, 90);
            
            margin: 10px auto auto auto;
            padding:auto;
            position:absolute;
            top: 65%;
            left: 50%;
            -ms-transform: translate(-50%,-65%);
            -webkit-transform : translate(-50%,-65%);
            transform : translate(-50%,-65%);

        }
        p {
            height:auto;
            width:100%;
            text-align: center;
            font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
            font-size:155%;
            color:rgb(90, 90, 90);
            letter-spacing : 0.3em;
            margin: 10px auto auto auto;
            padding:auto;
            position:absolute;
            top: 72%;
            left: 50%;
            -ms-transform: translate(-50%,-72%);
            -webkit-transform : translate(-50%,-72%);
            transform : translate(-50%,-72%);
        }
    }
}

.Title{

   width: 100%;
   height: 18%;
   float: left;
   position:relative;
   background-color:rgba(211, 211, 211, 0.137);
   h1{
      height:auto;
      width:100%;
      text-align: center;
      font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
      font-size:250%;
      color:rgb(34, 35, 105);
      font-weight: bolder;
      margin: 10px auto auto auto;
      padding:auto;
      font-weight:bold;
      position:absolute;
      top: 20%;
      left: 50%;
      -ms-transform: translate(-50%,-20%);
      -webkit-transform : translate(-50%,-20%);
      transform : translate(-50%,-20%);
   }
   p{
      height:auto;
      width:100%;
      text-align: center;
      font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
      color:rgb(90, 90, 90);
      margin: 10px auto auto auto;
      padding:auto;
      font-weight:bold;

   }
   #p1{
      /*
      font-size:120%;
      color:rgb(90, 90, 90);
      letter-spacing : 0.3em;
      position:absolute;
      top: 40%;
      left: 50%;
      -ms-transform: translate(-50%,-40%);
      -webkit-transform : translate(-50%,-40%);
      transform : translate(-50%,-40%);
      */
   }
   #p2{
      font-size:160%;
      color:rgb(90, 90, 90);
      letter-spacing : 0.3em;
      position:absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%,-70%);
      -webkit-transform : translate(-50%,-70%);
      transform : translate(-50%,-70%);

   }
}
.output-main{
   float: left;
   width: 100%;
   height: 1500px;
   background-color: white;
   margin: 0;
   padding: 0;
   .list{
      float: left;
      width: 70%;
      height:100%;
      ul{
         float: left;
         width: 100%;
         padding: 0;
         margin: 0;
         height:96%;
         margin-top: 2%;
         li{
            //background: white;
            width: 80%;
            margin-left: 20%;
            margin-top: 10px;
            height:130px;
            float: left;
            list-style: none;
            //border-bottom: thin solid #0a07b4;
            
            &:hover{
               background-color: rgba(255, 255, 255, 0.219);
            }
            .contents{
               width: 100%;
               height:98%;
               margin: 0;
               padding: 0;
               border-radius: 10px;
               box-shadow: 0px 2px 10px -5px rgba(88, 88, 88, 0.432);
               //background:linear-gradient(0.0deg,rgba(34, 109, 221, 0.37) 1%, rgba(253, 251, 251, 0.616) 10%);
               //border:0.5px solid rgb(243, 241, 241);
               position:relative;
               
               &:hover{
                  background:linear-gradient(320.0deg,rgba(1, 8, 102, 0.096) 10%,rgba(7, 0, 71, 0.00) 70%);
                  box-shadow: 0px 0px 15px -5px rgb(7, 7, 7);
              }
               .img{
                  float: left;
                  width:20%;
                  height:100%;
                  .i{
                     background-color: rgba(146, 144, 144, 0.055);
                     width:80%;
                     height:80%;
                     margin: 10%;
                     border-radius: 5%;
                     img{
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 5%;
                     }
                  }
               }
               .title{
                  float: left;
                  width:78%;
                  padding-right: 2%;
                  height: 80%;
                  h2{
                     width: 100%;
                     margin: 0;
                     height: 90%;
                     padding: 0;
                     font-size: 180%;
                     font-weight: bold;
                     color: rgb(47, 0, 156);
                     border-bottom: 1px solid rgb(209, 208, 208);
                  }
                  h6{
                     height: 10%;
                     margin: 0;
                     padding: 0;
                     width:50%;
                     font-size: 100%;
                     color: gray;
                     float: left;
                     text-align: left;
                     vertical-align: middle;
                  }
                  p{
                     height: 10%;
                     margin: 0;
                     padding: 0;
                     width:50%;
                     font-size: 120%;
                     float: left;
                     text-align: right;
                     vertical-align: middle;
                  }
               }
               /*.likes{
                  float: left;
                  width:80%;
                  height: 20%;
                  p{
                     margin: 0;
                     padding: 0;
                  }
               }*/
            }
         }
         .paginate{
            float: left;
            width: 100%;
            padding: auto;
            padding-left: 20%;
            margin: auto;
            height:2%;
            .pagination>li>a{    
               border: none;  
               color: #696969;
             }
             .pagination>.active>a {
               background: #93c9ff;
               border-radius: 15px;
             }
             .pagination>li>a:hover {        
               border-radius: 15px;
             }
         }
      }
   }
   .category{
      float: left;
      width: 20%;
      height: auto !important;
      margin: 0;
      padding: 0 5%;
      
      ul li{
         
         list-style: none;
         h4{
            text-align: left;
            font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
            font-size: 120%;
            width: 100%;
            margin: 0;
            padding: 0;
            color:rgb(126, 124, 124);
            a{
               text-decoration: none;
            }
         }
      }
      h2{

         text-align: center;
         //font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
         font-size: 120%;
         width: 100%;
         margin: 0;
         padding: 0;
         color:rgb(34, 35, 105);
         border-bottom: thin solid #0c00b4;

      }
   }
   .newest{
      float: left;
      width: 20%;
      height: auto !important;
      margin: 0;
      padding: 0 5%;
      h2{
         text-align: center;
         //font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
         font-size: 120%;
         width: 100%;
         margin: 0;
         padding: 0;
         border-bottom: thin solid #0c00b4;
         color:rgb(34, 35, 105);
      }
      ul {
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         float: left;
         li{
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height:10%;
            background-color: rgb(236, 235, 235);
            border-radius: 5px;
            &:hover{
               background-color: rgba(208, 208, 209, 0.767);
            }
            .newest-title{
               margin: 0 10%;
               padding: 0;
               width:80%;
               height: 100%;
               h3{
                  padding: 0;
                  a{
                     text-decoration: none;
                  }
                  &:hover{
                     color: rgb(59, 5, 184);
                     list-style: none;
                  }
               }
               p{
                  margin: 0;
               }
            }
         }
      }
   }

}


}