<headr class = "heads">
    <div class = "logo">
          
    </div>
    <div class = "head-menu">
        <ul>
             <li><p><%= link_to "HOME", home_path %><p></li>
             <li><p><%= link_to "OUTPUT",output_path%><p></li>
             <!--
             <li><p><%= link_to "ABOUT", about_path %><p></li>
             -->
        </ul>
    </div>
</headr>